.serialText {
  background-color: var(--wostin-base);
  padding: 15px 20px;
  font-size: 20px;
  display: inline-block;
  color: var(--wostin-primary);
}
.jobItem {
  background-color: var(--wostin-extra);

  margin-top: 15px;
}
.jobDesc {
  color: black;
}
.jobApplyBtn {
  border: 0;
  padding: 7px 13px;
  background-color: var(--wostin-base);
  color: var(--wostin-primary);
}
.jobApplyBtn:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.jobItem:hover {
  background-color: var(--wostin-primary);
}
.jobItem:hover .serialText {
  border: 2px solid white;
}
.jobDiv{
  padding: 30px;
}
